{% extends "layouts/_base.njk" %}

{% block content %}
<div class="section heading student">
    <div class="name">
      <h1>{{studentFirstName | safe}}<br>{{studentLastName | safe}}</h1>
    </div>
    <div class="about">
      <div class="project-title">
        <h2>{{title | safe}}</h2>
      </div>
      <div class="body-text">
        <p>{{projectDescription | safe}}</p>
      </div>
      <div class="student-contact">
        {% if studentInsta %}
          <a href={{"https://www.instagram.com/" + studentInsta | safe}}>@{{studentInsta | safe}}</a><br />
        {% endif %}
        {% if studentWebsite %}
          <a href={{studentWebsite | safe}}>{{studentWebsite | safe}}</a><br />
        {% endif %}
        {% if studentContact %}
          <a href={{"mailto:"+ studentContact | safe}}>{{studentContact | safe}}</a><br />
        {% endif %}
      </div>
    </div>
  </div>
  
  <div class="section splash">
     {% if projectScan %}
    <script type="module" src="https://unpkg.com/@splinetool/viewer@1.9.1/build/spline-viewer.js" async></script>
    <spline-viewer loading-anim-type="spinner-small-light" url={{projectScan}}></spline-viewer>
    {% endif %}
     {% if not projectScan %}
      <div class="span-2">
        <img src={{previewImage | safe}}>
      </div>
     {% endif %}
  </div>
  
  <div class="section material">
    {{content | safe}}
  </div>
{% endblock %}