<footer>
  <div>
    <h2>About</h2>
    <p>How do you convey the essence of an object?
      When viewing an object in an exhibition, unable to use it or see it in its correct context, how do we fully understand it? What about the opposite moment, when we only experience it through other media but don’t encounter the object itself?

    <p>Presenting, and representing, your designs is a constant part of a designer’s life. This term we looked at how you present work IRL, and how you represent it digitally.
  </div>

  <div>
    <h2>Team</h2>
    <p>Ian Ferguson<br />
      Anja Lapatsch</p>
  </div>

  <div>
    <h2>Rundgang</h2>
    <p>UdK Sommersemester 2024<br />
      Rundgang</br>
      19 - 21 Juli</p>
    <address>
      Universität der Künste Berlin<br />
      Straße des 17. Juni 118<br />
      Raum 402<br />
      10623 Berlin
    </address>
  </div>
</footer>